@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Droid Sans */
@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  /* Inter 18pt */
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  /* Inter 24pt */
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  /* Inter 28pt */
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  /* Variable Fonts */
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  


body {
    margin:0;
    padding:0;
    font-family: "Montserrat", serif;
}
p{
    font-family: "PT Sans", serif;
    font-size:20px;
}
.top{
    background-color:#8c52ff;   
    padding:10px;
}

#main {
    max-width: 100%!important;
    padding: 0;
    margin: 0;
}
#mainWrapper{
    padding:0!important;
    margin:0!important;
}
#mainWrapper .bghome{
    background-image: url('../../assets/images/home-bg.jpg');
    background-repeat:no-repeat;
    background-size:100%;
}
#realcaller{
    width:750px;
}

button#headerbtn {
    background-color:#8c52ff!important;
    color:#fff!important;
    width:450px;
    padding:15px;
    border-radius:30px;
    font-family: "PT Sans", serif;
    font-weight: 700;
    font-size:23px;
}
#headerTitle{
    font-size:60px;
    font-family: "Montserrat", serif;
    font-weight:700;
    line-height:60px;
}
#grid span{
    width:80px;
    height:80px;
    background-color:#563a9c;

    display:block;
    margin:auto;
    border-radius:50%;
}
#grid span.vector1 {
  background-image: url('../../assets/images/vector1.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

#grid span.vector2 {
  background-image: url('../../assets/images/vector2.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

#grid span.vector3 {
  background-image: url('../../assets/images/vector3.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

#grid span.vector4 {
  background-image: url('../../assets/images/vector4.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

#grid span.vector5 {
  background-image: url('../../assets/images/vector5.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

#grid span.vector6 {
  background-image: url('../../assets/images/vector6.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

#grid span.vector7 {
  background-image: url('../../assets/images/vector7.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

#grid span.vector8 {
  background-image: url('../../assets/images/vector8.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size:100%;
}

.content {
    width:80%;
    margin:auto;
    margin-bottom:60px;
    overflow:auto;
}
.woocommerce-MyAccount-content{
    overflow:auto;
    width:75%;
    float:right;
}

#logo {
    width:250px;
    margin-left:17px;
}
.ds-dblock {
    display:block!important;
    margin:auto!important;
}
#header #right p {
    text-align:center;
    font-size:20px;
}

#section2 p{
    text-align:center;
}
#section3 h2 {
    color:#563A9C;
}

#section3 #left p {
    color:#563A9C;
}
#section3 #right p {
    color:#121217;
}

#section4 h1{
    text-align:center;
    color:#563A9C;
}
#section4 p{
    text-align:center;
    color:#563A9C;
}
#bookADemo{
    border-color:#8c52ff!important;
    color:#8c52ff!important;
    width:450px;
    padding:15px;
    border-radius:30px;
    font-family: "PT Sans", serif;
    font-weight: 700;
    font-size:23px;
}

#section5{
    margin-top:20px;
}
.accordion p{
    color:#121217;
}

#section5 .col-md-6 {
    padding:0;
    margin:0;
}

#section5 .right {
    background-color:#f2f2f2;
}

#section6{
    margin-top:30px;
}
#section6 h1{
    text-align:center;
}

#section6 p{
    text-align:center;
}
#testimony {
    width:90%;
    margin:auto;
}
#testimony .testimony{
    margin:10px;
    width:31%!important;
    background-color:#8C52FF;
    padding:10px!important;
    border-radius:20px;
    overflow:auto;
}
#testimony .testimony p{
    color:#fff;
    font-size:18px;
    line-height:22px;
}

#testimony .testimony img{
    display:block;
    border-radius:50%;
    float:left;
    margin-right:10px;
    width:20%;
}

#testimony .testimony .model span{
    color:#fff;
    margin-top:10px;
    float:right;
    text-align:left;
    width:76%;
}
#testimony .testimony .model p{
    text-align:left!important;
    font-size:14px!important;
}

#section7{
    background:#563A9C;

}

#section7 h2{
    text-align:center;
}

#section7 p{
    text-align:center;
}
#faq{
    width:80%;
    margin:auto;
}

#faq p{
    color:#121217;
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 83%;
    max-height: 100%;
    height: 900px;
    overflow: hidden;
}
.woocommerce-MyAccount-navigation{
    float:left;
}

.woocommerce-MyAccount-navigation-link--dashboard{
	display:none;
}
.woocommerce-MyAccount-navigation-link--downloads{
	display:none;
}


.sponsor #loginform{
	display:none;
}
.my-account .u-column2{
	display:none;
	width:100%;
}

.my-account #loginform{
	width:100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .content {
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
        overflow: auto;
  }
 .woocommerce-MyAccount-navigation{
    margin-right:20px;
    border-right:1px solid #ccc;
  }

.woocommerce-MyAccount-content{
    width:70%!important;
    padding-top:5%;
    float:left!important;
}

#main{
    padding:0!important;
    margin:0!important;
}

.woocommerce-MyAccount-navigation li.is-active {
    background:#8c52ff;
    border-radius:15px;
}

.woocommerce-MyAccount-navigation li.is-active a {
    color:#ffffff!important;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link  {
    padding-left:30px!important;
    border-radius: 10px;;
}
.woocommerce-account .woocommerce-MyAccount-content {
    padding-top:5%!important;
    float:left!important;
    width:70%!important;
}
.container  {width:400px;}

.woocommerce-account .woocommerce-MyAccount-navigation{
    width:21%!important;
    padding:0 10px;
}
#loginform .woocommerce .col2-set .col-2 {
  float: inherit;
  width: 900px!important;
  margin: auto;
}

#sponsorFrm .woocommerce-form-register {
	margin:auto!important;
	overflow:auto;
	display:block;

}
.woocommerce form .form-row label {
    line-height: 2;
    font-family: 'DroidSans';
    font-size: 17px;
}

p{
  font-family: 'DroidSans';
  font-size: 16px;
  line-height:20px;
}
.woocommerce-form-register__submit{
  background-color:#8c52ff!important;
  width:100%;
  padding:8px!important;
  color:#ffffff!important;
  font-family: 'Inter';
  border-radius:20px;
  border:0px;
}
#register_dealer{
	background-color:#8C52FF!important;
	color:#ffffff;
  font-family:'inter';
  padding:15px!important;
  border-radius: 20px!important;
}

#register_client_1{
	background-color:#8C52FF!important;
	color:#ffffff;
  font-family:'inter';
  padding:15px!important;
  border-radius: 20px!important;
}
.woocommerce-form-coupon-toggle{
	display:none!important;
}
.woocommerce-checkout h3{
  font-family: "Montserrat", serif;
  font-weight: 600;
}
.woocommerce-checkout label{
  font-family: "DroidSans", serif!important;
  font-size:14px!important;
  line-height:25px!important;
  display:block!important;
}

.woocommerce-checkout input[type='text']{
  font-family: "DroidSans", serif!important;
  font-size:15px!important;
  line-height:25px!important;
  display:block!important;
  height:40px;
}
.select2-selection__rendered{
  font-family: "DroidSans", serif!important;
  font-size:15px!important;
  line-height:25px!important;
  display:block!important;
  height:40px;
}


.woocommerce-checkout select{
  font-family: "DroidSans", serif!important;
  font-size:15px!important;
  line-height:25px!important;
  display:block!important;
  height:40px;
}
.woocommerce-checkout input[type='email']{
  font-family: "DroidSans", serif!important;
  font-size:15px!important;
  line-height:25px!important;
  display:block!important;
  height:40px;
}
.woocommerce-checkout p.desc{
  font-family: "DroidSans", serif!important;
  font-size:16px!important;
  line-height:25px!important;
  width:80%!important;
}

#checkoutLogo{
  width:300px;
  display:block;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_orderr{
  width:200px;
  padding:15px;
  border-radius:15px!important;
  font-family: "Montserrat", serif;
  font-weight: 600;
}
.woocommerce-privacy-policy-text p{
  font-family: "DroidSans", serif!important;
  font-size:14px!important;
  line-height:25px!important;
}
#woocommerce_back_button{
  background-color:#fff;
  border:1px solid #000;
  padding:10px;
  width:200px;
  border-radius:15px!important;
  font-family: "Montserrat", serif;
  font-weight: 600;
  color:#000000!important;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
  background-color:transparent!important;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods{
  padding:0!important;
}
#checkoutpolicy .col-md-12{
  padding:0!important;
  margin:0!important;
}
#checkoutpolicy .col-md-6{
  padding:0!important;
  margin:0!important;
}
.place-order{
  padding:0!important;
  margin:0!important;
}
.woocommerce-MyAccount-navigation-link{
  width:100%;
  margin:auto;
}

span.woocommerce-MyAccount-navigation-link--Dashboard {
  background:url('../icons/Storefront@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}
li.is-active span.woocommerce-MyAccount-navigation-link--Dashboard {
  background:url('../icons/store-white.png');
  background-repeat: no-repeat;
}

span.woocommerce-MyAccount-navigation-link--SponsorAds{
  background:url('../icons/uil_megaphone@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}


span.woocommerce-MyAccount-navigation-link--GenealogyTree{
  background:url('../icons/Group2@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}

li.is-active  span.woocommerce-MyAccount-navigation-link--GenealogyTree{
  background:url('../icons/Group2@2x-white.png');
  background-repeat:no-repeat;
}

span.woocommerce-MyAccount-navigation-link--Commissions{
  background:url('../icons/Attachmoney@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}

span.woocommerce-MyAccount-navigation-link--Dealer039sAffiliateLink{
  background:url('../icons/dealer.png');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
  background-repeat:no-repeat;
}

.bmlm-earning-avatar svg{
  color: #B5B5B5!important;
}


li.is-active  span.woocommerce-MyAccount-navigation-link--Dealer039sAffiliateLink{
  background:url('../icons/dealer-white.png');
  background-repeat:no-repeat;
}
span.woocommerce-MyAccount-navigation-link--ClientAffiliateLink{
  background:url('../icons/users@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}

.woocommerce-MyAccount-navigation-link--sponsormarketing-crm-link{
  margin-top: 20px;
  padding-top: 10px;
}

span.woocommerce-MyAccount-navigation-link--MarketingCRMLink{
  background:url('../icons/Arrowoutward@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: right;
}

span.woocommerce-MyAccount-navigation-link--SocialMediaKit{
  background:url('../icons/Permmedia@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}

span.woocommerce-MyAccount-navigation-link--TrainingResources{
  background:url('../icons/Contacts@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}

.woocommerce-MyAccount-navigation-link--orders{
  margin-top:30px;
}

span.woocommerce-MyAccount-navigation-link--Orders{
  background:url('../icons/Boxadd@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}

span.woocommerce-MyAccount-navigation-link--Addresses{
  background:url('../icons/Map@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}
span.woocommerce-MyAccount-navigation-link--Paymentmethods{
  background:url('../icons/Creditcard@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}
span.woocommerce-MyAccount-navigation-link--Accountdetails{
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  float: left;
}

span.woocommerce-MyAccount-navigation-link--Products {
  background: url(../icons/product-black.png);

  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
  background-repeat:no-repeat;

}
li.is-active span.woocommerce-MyAccount-navigation-link--Products {
  background: url(../icons/products-white.png);
  background-repeat:no-repeat;
}

span.woocommerce-MyAccount-navigation-link--YourClients{
  background: url(../icons/Group2@2x.svg);
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right: 10px;
  float: left;
}

span.woocommerce-MyAccount-navigation-link--MyWallet{
  background:url('../icons/Accountbalancewallet@2x.svg');
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right:10px;
  float: left;
}
.woocommerce-MyAccount-navigation-link--Logout{
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  float: left;
}


#registration_dealder input[type="text"] {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  padding-left:30px;
}
#registration_dealder select {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  padding-left:30px;
}

#registration_dealder input[type="email"] {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  padding-left:30px;
}

#registration_dealder input[type="password"] {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  padding-left:30px;
}

#loginform{
  padding-top:150px;
}

#loginform input[type="text"] {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  padding-left:30px;
}

#loginform input[type="email"] {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  padding-left:30px;
}

#loginform input[type="password"] {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  padding-left:30px;
}

#loginform button {
  height:60px;
  border-radius:40px;
  border:1px solid #ccc;
  margin-top:15px;
}
#loginform .container{
  overflow:auto;
  padding-top:10px;
  padding-bottom:10px;
}
.woocommerce-thankyou-order-received{
  font-family: 'DroidSans';
  margin-top:100px;
  font-weight:bold;
  margin-bottom:50px!important;
}

table.woocommerce-table--order-details{
  font-family: 'DroidSans';
}

#registration_client_form input[type="text"] {
  height: 50px;
  border-radius: 40px;
  border: 1px solid #ccc;
  padding-left: 30px;
}
#registration_client_form input[type="email"] {
  height: 50px;
  border-radius: 40px;
  border: 1px solid #ccc;
  padding-left: 30px;
}

#registration_client_form input[type="password"] {
  height: 50px;
  border-radius: 40px;
  border: 1px solid #ccc;
  padding-left: 30px;
}

#registration_client_form label{
  padding:10px  0;
  font-family: 'DroidSans';
  font-weight: bold;
}
#sponsorFrm img{
  margin:auto; 
  width:400px;
  display:block;
}
#registration_client_form select {
  height: 60px;
  border-radius: 40px;
  border: 1px solid #ccc;
  padding-left: 30px;
}

#sponsorWrap{
  width:800px!important;
  margin:auto;
}


body.my-account #registration_client_form{
	 display:none;
}

#ds_dashboard{
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#000!important;
  margin-top:20px;
  margin-bottom:15px;
}

#ds_dashboard a{
  color:#000!important;
} 
.bmlm-btn-action {
  width:100%!important;
  border-radius:0!important;
  background-color:#fff!important;
  border:1px solid #ccc!important;
  color:#000!important;
}
.bmlm-front-action-container .col-md-4{
  padding:0!important;
  margin:0!important;
}
.bmlm-front-action-container{
  width:500px!important;
}

#becomeAmemberbtn {
  background-color:#000;
  color:#fff!important;
  border:0!important;
}

#becomeAmemberWrap{
  margin-top:200px!important;
}
.woocommerce-MyAccount-navigation{
  height:1000px;
}

.woocommerce-MyAccount-navigation-link--customer-logout{
  position:fixed;
  bottom:40px;
}

.woocommerce-MyAccount-navigation-link--customer-user{
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 30px;
}

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--customer-user a{
  font-size:15px!important;
}

.woocommerce-MyAccount-navigation-link--customer-email {
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 20px;
}

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--customer-email a {
  font-size:12px!important;
}

.woocommerce-MyAccount-navigation-link--customer-logout span {
  background: url(../icons/Arrowoutward@2x.svg);
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right: 10px;
  float: right;
}
.woocommerce-MyAccount-navigation-link--customer-user{
  border:1px solid #ccc;
}
.bmlm-sponsor-search {
  display:none!important;
}
.bmlm-sponsor-ingredients{
  display:none;
}
.bmlm-badge-history{
  display:none;
}
.bmlm-member-activities{
  display:none;
}

.member-level{
  display:none!important;
}

.dslogout .box span.woocommerce-MyAccount-navigation-link--MarketingCRMLink{
  background: url(../icons/logout-icon.png)!important;
  width: 30px!important;
  height: 30px!important;
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input{
  font-size:30px;

}

#copy_url:before{
  background: url(../icons/logout-icon.png)!important;
  width: 30px!important;
  height: 30px!important;
}

#dsfooter {
  display: none;
}
body.sponsor  #dsfooter {
  display: block;
}


body.my-account  #dsfooter {
  display: block;
}
.lost_reset_password{
    width:500px;
    margin:200px auto;
}
.lost_reset_password button{
  width:100%;
  height: 60px;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin-top: 15px;
  background-color: #7f56d9 !important;
  color: #ffffff !important;
  border-radius: 40px!important;
}
.woocommerce form .form-row{
  width:100%!important;
}

.lost_reset_password .woocommerce-Input--text {
  height: 60px!important;
  border-radius: 40px!important;
  border: 1px solid #ccc!important;
  padding-left: 30px!important;
}
